* {
  margin: 0;
  padding: 0;
}

/* From here is the Navbar styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(1.5em + 7vh);
  background-color: #fff;
  color: black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#logo {
  width: calc(1.5em + 4vh);
  height: calc(1.5em + 4vh);
  margin-left: 2em;
  margin-right: 2em;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2em;
}

.nav-list {
  display: flex;
  justify-content: end;
  list-style: none;
}

.nav-list li {
  margin-right: 0.5em;
  letter-spacing: 1px;
  font-size: calc(1em + 0.5vw);
}

.nav-list li a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.nav-list li a:hover {
  color: darkred;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50em;
  padding: 5px;
}

.mobile-menu div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: 0.3s;
}

@media screen and (max-width: 1380px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 40vw;
    height: 92vh;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

/* Here ends the Navbar styles */

main {
  margin-top: 85px;
  padding: 20px;
}
